.header-background-custom-0 {
  background: rgba(0, 0, 0, 0.2) url('../assets/image/header1.jpg');
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
}

.header-background-custom-1 {
  background: rgba(0, 0, 0, 0.2) url('../assets/image/header2.jpg');
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  transition: background-image 1s;
}

.header-background-custom-2 {
  background: rgba(0, 0, 0, 0.2) url('../assets/image/header3.jpg');
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  transition: background-image 1s;
}

.header-background-custom-3 {
  background: rgba(0, 0, 0, 0.2) url('../assets/image/header4.jpg');
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  transition: background-image 1s;
}

.header-background-custom-4 {
  background: rgba(0, 0, 0, 0.2) url('../assets/image/header5.jpg');
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  transition: background-image 1s;
}


.logo-main {
  filter: invert(100%);
  width: 190px;
}

.logo-main-dark {
  width: 190px;
}

.single-brand {
  img {
    max-width: 150px;
  }
}

.category {
  button {
    height: 40px;
    min-width: auto;

    + button {
      margin-left: 20px;
    }
  }
}

.main-menu > li > .nav-link {
  font-size: 16px;
}

h1 {
  font-size: 3.5rem;
}

.hero-content {
  p {
    font-size: 2rem;
  }
}

.mapa {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 1rem;
}

@media (min-width: 992px) {
  .pt-lg-32, .py-lg-32 {
      padding-top: 14.25rem!important
  }
}

.flex-menu.container {
    display: flex;
    justify-content: center;
}

.bg-blackish-blue {
    background-color: #1e2947!important;
}

.btn {
  border-radius: 0!important;
}

.custom-footer-h2 {
    font-weight: 100;
    font-size: 1.5rem;
}

.border-right-custom {
  border-right: solid 1px #1e2947;
}

@media (max-width: 991px) {
  .border-right-custom {
    border-right: none;
  }
}

.custom-mt {
  margin-top: -7px!important;
}

.five-img {
  height: 35px!important;
}

.five-video {
  display: flex;
  justify-content: center;

  iframe {
    margin-right: 30px;
  }
}

.default-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bianchi-info {
  display: flex;
  justify-content: center;

  img {
    margin-right: 30px;
  }
}

.description-five {
  width: 40%;
}

.five-logo-info, .bianchi-logo-info {
  width: 190px;
}

.cursor-pointer {
  cursor: pointer;
}

.five-brands, .bianchi-bikes {
  display: flex;
  justify-content: center;
}

.bianchi-brands-img {
  max-width: 554px;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .bianchi-brands-img {
    width: 100%;
  }

  .header-background-custom-4 {
    background-position-x: 98%!important;
  }

  i.icon.icon-instant-camera-2, i.icon.icon-logo-facebook {
    font-size: 30px!important;
  }
}

.revisao-link {
  margin-bottom: 20px;
  font-size: 22px;
}

.custom-col {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.slick-next {
  right: 20px!important;
  z-index: 999;
}

.slick-prev {
  left: 20px!important;
  z-index: 999;
}

@media (min-width: 900px) {
  .slick-next {
    right: 40px!important;
    z-index: 999;
  }

  .slick-prev {
    left: 40px!important;
    z-index: 999;
  }
}

i.icon.icon-logo-facebook {
    font-size: 20px;
}

i.icon.icon-instant-camera-2 {
    font-size: 20px;
}

.btn-outline {
  color: #1e2947;
  background-color: #ffffff;
  border-color: #1e2947;
}

.btn-outline:hover {
  color: #fff;
  background-color: #1e2947;
  border-color: #1e2947;
}

.btn-primary:hover {
  color: #fff;
  background-color: #1e2947;
  border-color: #fff;
}

.btn-custom {
  min-width: auto !important;
  max-width: fit-content;
  align-self: center;
}

.gr-menu-dropdown {
  border-radius: 0!important;
  box-shadow: none!important;
}

.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.custom-nav {
  flex-direction: row!important;
  justify-content: center;
  li {
    margin-right: 10px;
  }

  i.icon.icon-instant-camera-2, i.icon.icon-logo-facebook {
    font-size: 30px!important;
  }
}

.collapse, .collapsing {
  padding-left: 10px;
  .list-group-item {
    border-right: none;
    border-top: none;
    border-left: none;
  }
}

p:not(.hero-description) {
  text-align: justify;
}

.text-center {
  text-align: center!important;
}

a.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}