.header-background-custom-0 {
  background: rgba(0, 0, 0, 0.2) url('../assets/image/header1.jpg');
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}

.header-background-custom-1 {
  background: rgba(0, 0, 0, 0.2) url('../assets/image/header2.jpg');
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
}

.header-background-custom-2 {
  background: rgba(0, 0, 0, 0.2) url('../assets/image/header3.jpg');
  background-blend-mode: darken;
  background-size: cover;
  transition: background-image 1s ease-in-out;
}

.header-background-custom-3 {
  background: rgba(0, 0, 0, 0.2) url('../assets/image/header4.jpg');
  background-blend-mode: darken;
  background-size: cover;
  transition: background-image 1s ease-in-out;
}


.logo-main {
  filter: invert(100%);
  width: 150px;
}

.logo-main-dark {
  width: 150px;
}

.single-brand {
  img {
    max-width: 150px;
  }
}

.category {
  button {
    height: 40px;
    min-width: auto;

    + button {
      margin-left: 20px;
    }
  }
}

.main-menu > li > .nav-link {
  font-size: 16px;
}

h1 {
  font-size: 3.5rem;
}

.hero-content {
  p {
    font-size: 2rem;
  }
}

.mapa {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 1rem;
}

@media (min-width: 992px) {
  .pt-lg-32, .py-lg-32 {
      padding-top: 14.25rem!important
  }
}

.flex-menu.container {
    display: flex;
    justify-content: center;
}

.bg-blackish-blue {
    background-color: #1e2947!important;
}

.btn {
  border-radius: 0!important;
}

.custom-footer-h2 {
    font-weight: 100;
    font-size: 1.5rem;
}

.border-right-custom {
  border-right: solid 1px #1e2947;
}

.custom-mt {
  margin-top: -7px!important;
}

.five-img {
  height: 35px!important;
}

.five-video {
  display: flex;
  justify-content: center;

  iframe {
    margin-right: 30px;
  }
}

.default-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bianchi-info {
  display: flex;
  justify-content: center;

  img {
    margin-right: 30px;
  }
}

.description-five {
  width: 40%;
}

.five-logo-info, .bianchi-logo-info {
  width: 190px;
}

.cursor-pointer {
  cursor: pointer;
}

.five-brands, .bianchi-bikes {
  display: flex;
  justify-content: center;
}

.bianchi-brands-img {
  max-width: 554px;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .bianchi-brands-img {
    width: 100%;
  }

  .header-background-custom-2 {
    background-position-x: 98%!important;
  }
}

.revisao-link {
  margin-bottom: 20px;
  font-size: 22px;
}

.custom-col {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.slick-next {
  right: 15px;
  z-index: 999;
}

.slick-prev {
  left: 15px;
  z-index: 999;
}