.header-background-custom-0 {
  background: rgba(0, 0, 0, 0.2) url('../assets/image/header1.jpg');
  background-size: cover;
  background-blend-mode: darken;
   transition: background-image 1s ease-in-out;
}

.header-background-custom-1 {
  background: rgba(0, 0, 0, 0.2) url('../assets/image/header2.jpg');
  background-size: cover;
  background-blend-mode: darken;
  transition: background-image 1s ease-in-out;
}

.header-background-custom-2 {
  background: rgba(0, 0, 0, 0.2) url('../assets/image/header.jpg');
  background-size: cover;
  background-blend-mode: darken;
  transition: background-image 1s ease-in-out;
}

.logo-main {
  filter: invert(100%);
  width: 150px;
}

.logo-main-dark {
  width: 150px;
}

.single-brand {
  img {
    max-width: 150px;
  }
}

.category {
  button {
    height: 40px;
    min-width: auto;

    + button {
      margin-left: 20px;
    }
  }
}

.main-menu > li > .nav-link {
  font-size: 18px;
}

h1 {
  font-size: 3.5rem;
}

.hero-content {
  p {
    font-size: 2rem;
  }
}

.mapa {
    width: 100%;
    border: solid 6px #57b5b1;
    border-radius: 4px;
}

@media (min-width: 992px) {
  .pt-lg-32, .py-lg-32 {
      padding-top: 14.25rem!important
  }
}